.article-image {
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 260px;

  flex-wrap: wrap;
  justify-content: flex-start;
  border-radius: 25px;
  color: var(--white);
  padding: 18px 24px;
  @media (max-width: 1279px) {
    height: 220px;
    padding: 15px 20px;
  }
  &.medium-size {
    height: 360px;
    border-radius: 50px;
    padding: 20px 30px;
    @media (max-width: 1279px) {
      height: 220px;
      padding: 15px 20px;
      border-radius: 25px;
    }
  }
  &.big-size {
    height: 470px;
    border-radius: 50px;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.4s;
    pointer-events: none;
  }

  .title {
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.48px;
    margin-top: auto;
    z-index: 3;
    @media (max-width: 1279px) {
      font-size: 18px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  &:hover {
    img {
      transform: scale(1.08);
    }
  }
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(87, 199, 133, 0) 30%, rgba(255, 255, 255, 0) 100%);
  }
}

.article {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  gap: 18px;

  .article-image {
    overflow: visible;
    img {
      width: 90%;
      height: 90%;
      left: 5%;
      top: 5%;
      object-fit: contain;
    }

    &:before {
      content: none;
    }

    .spinner:before {
      background: url('../img/svg/product-hover-blue.svg') no-repeat center center/contain;
    }
    &.blue-gradient {
      .spinner:before {
        opacity: 1;
        background: url('../img/svg/product-hover-white.svg') no-repeat center center/contain;
      }
    }

    &:hover {
      img {
        transform: scale(1);
      }
    }
  }
}

.spinner {
  display: block;
  position: absolute;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  z-index: -1;
  transition: opacity 0.3s;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    animation: rotate 5s linear infinite;
    animation-play-state: paused;
  }
}

.blue-gradient {
  .spinner {
    opacity: 0;
  }
}

.article-image:hover,
.article-image:active,
.article-image:focus-visible {
  .spinner {
    opacity: 0.8;
    &:before {
      animation: rotate 5s linear infinite;
    }
  }
}

.params {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 10px;
  li {
    display: block;
    background: rgba(26, 38, 99, 0.1);
    border-radius: 50px;
    white-space: nowrap;
    font-size: 12px;
    padding: 5px 10px;
  }
}

.tags {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  @media (max-width: 1279px) {
    justify-content: center;
  }
  @media (max-width: 767px) {
    gap: 8px;
  }
  li {
    display: block;
    background: rgba(26, 38, 99, 0.1);
    color: var(--color);
    border-radius: 50px;
    white-space: nowrap;
    font-size: 10px;
    padding: 4px 10px;
    @media (max-width: 767px) {
      font-size: 8px;
      padding: 2px 6px;
    }
  }
}

.article {
  .tags {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
    gap: 10px;
    @media (max-width: 767px) {
      width: calc(100% - 20px);
      bottom: 10px;
      left: 10px;
      gap: 8px;
    }
    li {
      background: #e8e9ef;
    }
  }

  .params {
    justify-content: center;
    margin-top: -4px;
  }
}
