.body {
  display: flex;
  flex-direction: column;
}

.main {
  display: block;
  position: relative;
  z-index: 1;
  flex: 1;
}

.container {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  position: relative;
  overflow: hidden;
  z-index: 2;
  &.visible {
    overflow: visible;
  }
}
