.memory-preview {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  .card {
    pointer-events: none;
  }
  li {
    width: 50%;
    position: relative;
    transform: rotate(10.18deg) translate(0px, -30px);
    &:first-child {
      transform: rotate(-14.17deg) translate(0px, 0px);
    }
  }
}

.card {
  width: 100%;
  perspective: 1200px;
  cursor: pointer;
  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 141.666666%;
  }

  .flip {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 12.5%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  }

  .flip__front,
  .flip__back {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    border-radius: inherit;

    img {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      object-fit: cover;
      border-radius: inherit;
    }
  }

  .flip__front {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: url('../img/memory/shirt.webp') center/cover no-repeat;
    z-index: 2;
    overflow: hidden;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      inset: 0;
      position: absolute;
      background: url('../img/memory/preloader.webp') no-repeat center center/cover;
      animation: bounce 3s linear infinite;
    }
  }

  .flip__back {
    transform: rotateY(180deg);
    z-index: 1;
  }

  &.active .flip {
    transform: rotateY(180deg);
  }
}

.fact-image {
  position: relative;
  width: 550px;
  height: 280px;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: -160px;
  img {
    height: 100%;
  }
  @media (max-width: 767px) {
    width: 430px;
    height: 220px;
  }
}
