.section--rules {
  padding: 0;
  padding-bottom: 80px;
  z-index: 1;
}

.rules {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1440px;
  z-index: 8;
  padding: 85px 50px;
  margin: 0 auto;
  z-index: 1;
  scroll-margin: 50px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100vw;
    height: 100%;
    background: var(--golden-gradient);
    z-index: 0;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
  }

  ul {
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 50px 40px;
    li {
      display: inline-flex;
      position: relative;
      width: auto;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      gap: 14px;
    }
  }
}

.rules-text {
  position: relative;
  color: var(--red-text);
  z-index: 1;
  b {
    font-size: 28px;
    letter-spacing: -0.04em;
    line-height: 1.2;
  }

  p {
    display: block;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.2;
  }

  .button {
    min-width: 234px;
  }
}

.rules-options {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px;
  margin-top: 30px;
  z-index: 5;
}

.rules-option {
  flex: 1;
  position: relative;
  padding: 35px 50px;

  .rules-text {
    p {
      display: block;
      line-height: 1.25;
      margin: 8px 0px 14px 0px;
    }
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 50vw;
    height: 100%;
    background: var(--golden-gradient);
    z-index: 0;
    top: 0px;
  }

  &.left {
    &:before {
      right: 0px;
    }
    .rules-option-image {
      transform: translate(15%, -46%);
    }
  }

  &.right {
    &:before {
      left: 0px;
    }
    .rules-option-image {
      transform: translate(15%, -51%);
    }
  }
}

.rules-option-image {
  display: block;
  position: absolute;
  right: 0px;
  width: 434px;
  height: auto;
  z-index: 2;
  top: 50%;
  pointer-events: none;
}

//1280
@media (max-width: 1365px) {
  .rules {
    padding: 70px 32px;
    ul {
      gap: 50px 20px;
    }
  }

  .rules-text {
    b {
      font-size: 26px;
    }
  }

  .rules-option {
    padding: 35px 32px;

    &.left {
      .rules-option-image {
        transform: translate(14%, -46%);
      }
    }

    &.right {
      .rules-option-image {
        transform: translate(10%, -51%);
      }
    }
  }

  .rules-option-image {
    width: 400px;
  }
}

//768
@media (max-width: 1279px) {
  .section--rules {
    .container {
      padding: 0;
    }
  }

  .rules {
    ul {
      justify-content: flex-start;
      gap: 50px;
      li {
        min-width: calc(50% - 25px);
      }
    }
  }
  .rules-text {
    b {
      font-size: 28px;
    }

    p {
      font-size: 17px;
    }
  }

  .rules-options {
    gap: 30px;
  }

  .rules-option {
    flex: none;
    width: 100%;
    background: var(--golden-gradient);

    &:before {
      content: none;
    }

    &.left {
      .rules-option-image {
        transform: translate(0%, -49%);
      }
    }

    &.right {
      .rules-option-image {
        transform: translate(0%, -50%);
      }
    }
  }

  .rules-option-image {
    right: auto;
    left: 50%;
    width: 420px;
  }
}

//375
@media (max-width: 767px) {
  .section--rules {
    padding-bottom: 0px;
  }
  .rules {
    padding: 60px 20px;
    background: var(--golden-gradient);
    ul {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      gap: 50px;
      li {
        width: 300px;
      }
    }

    .rules-icon {
      position: absolute;
      left: 0px;
    }
    .rules-text {
      width: 300px;
      padding-left: 100px;
    }

    &:before {
      content: none;
    }
  }
  .rules-text {
    b {
      font-size: 24px;
    }

    p {
      font-size: 16px;
    }
  }

  .rules-option {
    flex: none;
    width: 100%;
    background: var(--golden-gradient);
    padding-bottom: 280px;

    &:before {
      content: none;
    }
    .rules-text {
      p {
        margin: 10px 0px 20px 0px;
      }
    }
  }

  .rules-option-image {
    right: auto;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -28%) !important;
  }
}
