.section--hero {
  z-index: 1;
  background: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  &:before {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding-top: 46%;
    min-height: 670px;
  }

  .container {
    position: absolute;
    z-index: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 11%;
    padding-bottom: 80px;
  }
}
