.section--hero {
  z-index: 1;
  background: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  &:before {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding-top: 46%;
    min-height: 670px;
  }

  .container {
    position: absolute;
    z-index: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 11%;
    padding-bottom: 80px;
  }
}

.hero-background {
  position: fixed;
  width: 100%;
  height: auto;
  min-width: 1440px;
  top: 0px;
  pointer-events: none;
  overflow: hidden;
  @media (max-width: 767px) {
    min-width: 1180px;
  }
  img {
    width: 100%;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: url('../img/hero-bg-lights.webp') no-repeat center center/cover;
    animation: blink 1s infinite;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 6.172222%;
    height: 15.970149%;
    background: url('../img/fire.gif') no-repeat right bottom;
    background-size: auto 100%;
    z-index: 2;
    left: 48.592361%;
    top: 49.097014%;
  }
}

.hero-center-image {
  position: absolute;
  width: 58.89%;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.section--chees {
  background: rgba(0, 0, 0, 0);
  overflow: visible;
  height: 70px;
  z-index: 5;
  .scroll-down {
    display: block;
    position: absolute;
    z-index: 4;
    pointer-events: all;
  }
  .container {
    height: 100%;
  }
}

.hero-chees {
  width: 39.37%;
  height: auto;
  position: absolute;
  left: 50%;
  bottom: 0px;
  opacity: 0;
  transform: translate(-180%, 0%);
  transition: 1s;
  z-index: 5;

  .effect {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    overflow: hidden;

    -webkit-mask-image: url('../img/svg/hero-image-mask.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: cover;

    mask-image: url('../img/svg/hero-image-mask.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;

    &:before {
      content: '';
      width: 40%;
      height: 200%;
      position: absolute;
      left: 0px;
      top: 0px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
      opacity: 0.6;
      transform: translate(-200%, -25%) rotate(-40deg);
      animation: slide 4s linear infinite;
    }
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 88%;
  }

  img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
  }
}

.loaded {
  .hero-chees {
    opacity: 1;
    transform: translate(-130%, 0%);
  }
}

.main-prize {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: var(--bg);
  border-radius: 100px;
  padding: 26px 80px;
  margin-left: auto;
  margin-top: auto;
  text-transform: uppercase;
  text-align: center;
  span {
    font-size: 13px;
    padding-bottom: 5px;
  }
  p {
    font-size: 27px;
    color: var(--yellow-light);
    font-family: var(--3);
    line-height: 1.12;
  }

  &:before {
    left: 38px;
  }
  &:after {
    right: 38px;
  }
  &:before,
  &:after {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: var(--yellow-light);
    position: absolute;
  }
}

@media (max-width: 1279px) {
  .section--hero {
    .container {
      padding-top: 170px;
    }
  }

  .hero-background {
    transform: translate(-26px, 0px);
  }

  .main-prize {
    padding: 18px 60px;
    span {
      font-size: 12px;
    }
    p {
      font-size: 24px;
    }

    &:before {
      left: 28px;
    }
    &:after {
      right: 28px;
    }
    &:before,
    &:after {
      width: 8px;
      height: 8px;
    }
  }
  .loaded {
    .hero-chees {
      transform: translate(-114%, 0%);
    }
  }
  .hero-chees {
    width: 45%;
  }
}

@media (max-width: 767px) {
  .section--hero {
    &:before {
      padding-top: 0%;
      min-height: 600px;
    }
    .container {
      padding-top: 90px;
      max-width: 375px;
    }
  }

  .section--chees {
    pointer-events: none;
    .container {
      max-width: 375px;
    }
  }

  .hero-background {
    transform: translate(-150px, 30px);
  }

  .main-prize {
    padding: 18px 58px;
    bottom: 14px;
    transform: translate(10px, -10px);
    span {
      font-size: 9px;
    }
    p {
      font-size: 20px;
    }

    &:before {
      left: 28px;
    }
    &:after {
      right: 28px;
    }
    &:before,
    &:after {
      width: 8px;
      height: 8px;
    }
  }

  .loaded {
    .hero-chees {
      transform: translate(-85%, -42px);
    }
  }

  .hero-chees {
    width: 220px;
    transform: translate(-185%, -42px);
  }

  .hero-center-image {
    position: absolute;
    width: 338px;
    bottom: 10px;
    left: 50%;
    transform: translate(-28%, 0%);
  }
}
