.section--lk {
  min-height: 100vh;
  padding: 150px 0px;
  @media (max-width: 1279px) {
    padding: 130px 0px;
  }
  @media (max-width: 1023px) {
    padding: 100px 0px;
  }

  .container {
    max-width: 1020px;
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 100px;
    @media (max-width: 1310px) {
      max-width: 1060px;
    }

    @media (max-width: 1279px) {
      max-width: 800px;
    }

    @media (max-width: 767px) {
      max-width: 450px;
      gap: 60px;
    }

    .title--h2 {
      color: var(--yellow);
    }
  }

  .table {
    margin-top: 10px;
    tr {
      th,
      td {
        &:first-child {
          padding-left: 30px;
          @media (max-width: 1279px) {
            padding-left: 0px;
          }
          @media (max-width: 767px) {
            padding-left: 0px;
          }
        }
        &:nth-child(3) {
          white-space: initial;
          max-width: 300px;
          @media (max-width: 767px) {
            white-space: wrap;
          }
        }
        &:nth-child(4) {
          @media (max-width: 767px) {
            white-space: wrap;
          }
        }
        &:last-child {
          padding-right: 20px;
          max-width: 160px;
          white-space: nowrap;
          @media (max-width: 1279px) {
            padding-right: 0px;
            white-space: initial;
          }
        }
        @media (max-width: 1279px) {
          padding: 10px 15px;
        }

        @media (max-width: 1023px) {
          padding: 8px 6px;
        }
      }
    }
    th {
      border-bottom: 2px solid var(--yellow);
    }

    tbody {
      td {
        border-bottom: 1px solid var(--white);
        &:nth-child(2) {
          @media (max-width: 767px) {
            padding: 0;
            img {
              display: none;
            }
          }
        }
      }
    }

    .button {
      margin: 0;
      font-size: 18px;
      padding: 10px 22px;
      min-height: 24px;
      border-radius: 12px;
      @media (max-width: 1279px) {
        font-size: 12px;
        padding: 5px 12px;
      }
    }
  }
}

.lk-head {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  gap: 56px;

  li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    width: calc((100% - 56px) / 2);
    min-height: 295px;
    border-radius: 24px;
    position: relative;
    overflow: hidden;
    padding: 34px 68px 34px 34px;
    background: var(--white);
    color: var(--black);
    &:last-child {
      background: var(--white) url('../img/lk-bg.webp') no-repeat right 5px;
      background-size: 210px auto;
    }
  }

  .lk-head__title {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--bg);
    line-height: 1.12;
    margin-bottom: 20px;
  }

  .contacts {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    gap: 14px;
    p {
      font-size: 20px;
      a {
        transition: 0.3s;
        color: currentColor;
        &:hover {
          color: var(--bg);
        }
      }
    }
  }

  a {
    font-family: var(--4);
  }

  p {
    font-size: 24px;
    font-family: var(--4);
    font-weight: 400;
    line-height: 1.12;
    .link {
      color: var(--bg);
    }
  }

  @media (max-width: 1279px) {
    gap: 30px;
    li {
      width: calc((100% - 30px) / 2);
      min-height: 240px;
      border-radius: 18px;
      padding: 24px;

      &:last-child {
        background-size: 170px auto;
      }
    }

    .lk-head__title {
      font-size: 22px;
      line-height: 1.2;
      margin-bottom: 20px;
    }

    .contacts {
      gap: 14px;
      p {
        font-size: 18px;
      }
    }

    p {
      max-width: 290px;
      font-size: 18px;
      line-height: 1.2;
    }
  }

  @media (max-width: 767px) {
    gap: 12px;
    flex-direction: column;
    li {
      width: 100%;
      padding: 24px 20px;

      &:last-child {
        background-size: 160px auto;
      }
    }

    .lk-head__title {
      font-size: 20px;
    }
  }
}

.lk-content {
  width: 100%;
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  @media (max-width: 1023px) {
    max-width: 450px;
    margin: 0 auto;
  }

  .subtitle {
    display: block;
    font-size: 24px;
    font-family: var(--4);
    text-align: center;
    margin-top: 46px;
  }

  .button {
    margin: 0 auto;
    margin-top: 46px;
  }
}
