.slider-arrows {
  display: inline-flex;
  gap: 12px;
  padding-bottom: 10px;
  justify-content: space-between;
  @media (max-width: 1279px) {
    gap: 10px;
    padding-bottom: 8px;
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.swiper {
  width: 100%;
}

.swiper-arrow {
  display: flex;
  position: absolute;
  width: 50px;
  height: 50px;

  @media (max-width: 1023px) {
    width: 40px;
    height: 40px;
  }
  border: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 3;
  margin-top: -25px;
  top: 50%;
  border-radius: 50px;
  &[data-arrow-prev] {
    background:
      url('../img/svg/arrow-prev.svg') no-repeat center center,
      var(--golden-gradient);
    right: calc(100% + 14px);
    @media (max-width: 1023px) {
      right: calc(100% + 8px);
    }
  }
  &[data-arrow-next] {
    background:
      url('../img/svg/arrow-next.svg') no-repeat center center,
      var(--golden-gradient);
    left: calc(100% + 14px);
    @media (max-width: 1023px) {
      left: calc(100% + 8px);
    }
  }
  &.swiper-button-disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

[data-pagination] {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 400;
  color: var(--yellow);
  @media (max-width: 767px) {
    margin-bottom: 12px;
    font-size: 18px;
  }
}
