:root {
  --4: 'circerounded-regular4', sans-serif;
  --5: 'circerounded-regular5', sans-serif;
  --400: 'montserrat-regular', sans-serif;
  --500: 'montserrat-medium', sans-serif;
  --title: 'anticva', sans-serif;
  --gilroy: 'gilroy', sans-serif;

  --bg: #cc0003;
  --bg-dark: #b60003;
  --yellow: #fde170;
  --yellow-light: #e6d689;
  --color: #ffffff;
  --gradient: linear-gradient(90deg, #ffe680 0%, #fab041 50%, #ffe680 100%);
  --golden-gradient: linear-gradient(90deg, #d7bf5d, #dcc671, #c9a343, #d7bb55, #c89b3e);
  --white: #ffffff;
  --black: #000000;
  --red: #cc0003;
  --red-text: #962114;
  --invalid: #e6d689;

  --vh: 1vh;
}

@import 'mixins';
@import 'fonts';
@import 'animations';
@import 'preloader';
@import 'reset';
@import 'main';
@import 'swiper';
@import 'header';
@import 'buttons';
@import 'typography';
@import 'accordeons';
@import 'tabs';
@import 'memory';
@import 'forms';
@import 'footer';
@import 'popup';
@import 'section__hero';
@import 'section__about';
@import 'section__rules';
@import 'section__gallery';
@import 'section__products';
@import 'section__markets';
@import 'section__winners';
@import 'section__lk';
@import 'section__memory';
@import 'section__countdown';
@import 'section__game';
@import 'dropzone';
